.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.deps.json
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.dll
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.exe
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.pdb
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/DotNetWeek7Lab.runtimeconfig.json
obj/DotNetWeek7Lab.csproj.nuget.dgspec.json
obj/DotNetWeek7Lab.csproj.nuget.g.props
obj/DotNetWeek7Lab.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.assets.cache
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.dll
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.exe
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.pdb
bin/Debug/netcoreapp3.1/log_file.txt
bin/Debug/netcoreapp3.1/NLog.dll
bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
obj/Debug/netcoreapp3.1/DotNetWeek7Lab.csproj.CopyComplete
